.dot{
    width: 5rem;
    height : 5rem;
    background-color: white;
    border: 0.188rem solid cadetblue ;
    color: white;
    font-size: 3rem;
    line-height: 5rem;
    text-align: center;
    display: inline-block;
    color: black;
    border-radius: 8%;
    margin : 0.5rem;
    vertical-align : text-top;
}


.dot-wrapper{
    width: 40rem;
    margin: 0.5rem 0.2rem;
    text-align:center;
    display: inline-block;
}

.dot-wrapper-wrpper{
    width:42rem;
    text-align:center;
    display: inline-block;
    border: 0.2rem solid cadetblue;
    background-color: rgb(112, 160, 161);
    border-radius: 2%;
    margin : 1rem 1rem;
    margin-top : 10rem;
}

.dot-circle{
    width:13rem;
    height: 13rem;
    box-shadow: 0rem 0rem 0.3rem 0.2rem;
    background-color: orangered;
    border-radius: 100%;
    text-align: center;
    line-height: 13rem;
    font-family: fantasy;
    font-size: 5rem;
    display:inline-block;
}

#canvas{
    width: 400px;
    height: 400px;
    display:inline-block;
}

.wrap{
    height:550px;
    margin-top : 2rem;
    display:flex;
}
.wrap_left{
    width : 500px;
    flex : 1;
    text-align:center;

}
.wrap_middle{
    flex : 1;
    text-align:center;
}
.wrap_right{
    flex : 1;
    text-align:center;
}

#rehabImg{
    width:500px;
    height:391px;
    margin-top : 5rem;
    border-radius:10%;
}