{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- start -->
<div style="width:100%;text-align:center;margin-top:30px;margin-bottom:30px; ">
        <a style="font-weight:550;font-size : 30px;margin-top: 30px;padding-bottom: 28px;">
            당신의 재활을 <br>
            도와줄 MyRehab <br>
        </a>
        <a style="margin-top : 15px;font-family: sans-serif;font-size : 18px;">
            <br>
            AI코치와 스트레칭 밴드, 스마트 매트로 <br>
            당신의 자가 재활을 안전하고 효율적으로 <br>
            관리해주겠습니다.
        </a>

</div>
<div class = "circleBox" style="width:100%; display: flex;justify-content: space-between; padding:10vw; padding-top:2vw;">
    <div style="text-align:center;">
        <img class="circle-img" src="{% static 'img/teach.jpg/' %}">
        <h1> 전문적이고 체계적인 재활 </h1>
    </div>
    <div style="text-align:center;">
        <img class="circle-img" src="{% static 'img/ai.jpg/' %}">
        <h1> AI가 사용된 간편한 이용방법 </h1>
    </div>
    <div style="text-align:center;">
        <img class="circle-img" src="{% static 'img/embedded.jpg/' %}">
        <h1> 자체개발 보조도구와 연동 </h1>
    </div>
</div>


</div>
<!-- end -->
{% endblock %}