{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- start -->
<div style="background-color: #40882e2d; width:100%; min-height:400px; max-height:1000px; ">
    <div style="width:500px; position:relative; left:20%; float:left;">
        <p style="margin-bottom: 0px;font-weight:550;font-size : 50px;padding-top: 30px;padding-bottom: 30px;">
            당신의 재활을 <br>
            도와줄 MyRehab
        </p>
        <p style="margin-top : 20px;margin-bottom: 80px;font-family: sans-serif;font-size : 20px;">
            AI코치와 스트레칭 밴드, 스마트 매트로 <br>
            당신의 자가 재활을 안전하고 효율적으로 <br>
            관리해주겠습니다.
        </p>
    </div>
        <img src="{% static 'img/rehab.png/' %}" style="position:relative; left:20%;">
        <img src="{% static 'img/ai.jpg/' %}" style="display:none;" >
</div>

<!-- end -->
{% endblock %}