{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- start -->
    <div class="Info">
      <h4>
        재활이 필요한 부위를 선택한 뒤, 난이도를 설정하고 확인을 눌러주세요
      </h4>
    </div>

    <div class = "selectContainer">
      <form action="{% url 'rehab:Rehab' %}" method="get">
        <div class="row" style="margin-bottom: 50px; margin-top: 50px;">
            <select id="select1" class="form-select" aria-label="Default select example" onchange="select2Display(1)" name = "part">
              <option selected>부위 선택</option>
              <option value="knee">무릎</option>
              <option value="backbone">척추</option>
              <option value="shoulder">어깨</option>
            </select>
          </div>
        <div class="row" style="margin-bottom: 50px; margin-top: 50px;">
            <select id="select2" class="form-select hidden" aria-label="Default select example" onchange="select2Display(2)" name = "step">
              <option selected>난이도 선택</option>
              <option value="1">1단계</option>
              <option value="2">2단계</option>
              <option value="3">3단계</option>
            </select>
        </div>
        <div class="row" style="margin-bottom: 50px; margin-top: 50px;">
            <button type="submit" id="select3" class="btn btn-outline-info hidden">시작</button>
        </div>
      </form>
    </div>
    <script src="{% static 'selectForm.js' %}"></script>
    <!-- end -->
{% endblock %}